/*::::::STYLE.CSS DATA:::::::*/
/*制作日: 2013年1月21日
OWNER: Givery
DESIGN: Creative
*/

/* @group Generals */
body { 
	color: #333; 
	font-size: 16px; 
	font-family: Verdana,'ＭＳ Ｐゴシック','MS PGothic','ヒラギノ角ゴ Pro W4','Hiragino Kaku Gothic Pro',osaka,sans-serif;
	background: #f7f7f7 /*url(http://www.) repeat;*/
}

/* @group Containers */
#main { margin-right: 0.63em; margin-left: 0.63em; }

 .container { margin-top: 1em; margin-bottom: 1em; padding: 0.63em 1.25em; background-color: white;
border-radius: 0.438em; 

-moz-border-radius: 0.438em; 

-webkit-border-radius: 0.438em; 

border: solid 0.063em #ccc;}
/*co*/.inside_container_top { 
	width: inherit; padding: 0.25em 1.25em; min-height: 1em;
	background-color: #ccc;  
	border-top: 1px solid #8f8b8c; 
	border-right: 1px solid #8f8b8c; 
	border-left: 1px solid #8f8b8c; 
	border-bottom-color: #ccc;
	border-radius: 0.438em 0.438em 0px 0px; 
	-moz-border-radius: 0.438em 0.438em 0px 0px; 
	-webkit-border-radius: 0.438em 0.438em 0px 0px;
	/*Gradient*/
	background-color: #ff2700;
	background-image: linear-gradient(bottom, #8f8b8c 0%, #e5e5e5 92%);
	background-image: -o-linear-gradient(bottom, #8f8b8c 0%, #e5e5e5 92%);
	background-image: -moz-linear-gradient(bottom, #8f8b8c 0%, #e5e5e5 92%);
	background-image: -webkit-linear-gradient(bottom, #8f8b8c 0%, #e5e5e5 92%);
	background-image: -ms-linear-gradient(bottom, #8f8b8c 0%, #e5e5e5 92%);
	 }
/*co*/ .inside_container_bottom {
	width: inherit; height: auto; padding: 1em 1.25em 1em 1.25em; background-color: white;
	border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid #ccc;
	margin-bottom:1em;
	border-radius: 0px 0px 0.0.438em 0.438em;
	-moz-border-radius: 0px 0px 0.438em 0.438em;
	-webkit-border-radius: 0px 0px 0.438em 0.438em;
	}
/*co*/.inside_container_top p { color: white; font-weight: normal; vertical-align: middle; font-size:0.875em;
	/*background: url(../img/arrow_01.png) no-repeat 0px 4px;*/
	padding-left: 15px;
}

.container#header {  

width: inherit; height:2.875em;
padding: 0.25em 0;
/*gradient*/
background: #e5e5e5;
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );


/*Eliminate border radius*/
border-radius: 0em; 
-moz-border-radius: 0em; 
-webkit-border-radius: 0em;
	border-top-width: 0;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none; margin-top: 0em;margin-bottom: 0em;
}

.secondary_wrap {width: 60.8em; height:2.875em; margin-right: auto; margin-left: auto; background: url(../img/) no-repeat;}

#wrap { width: 62.75em; margin-right: auto; margin-left: auto; padding-top: 1em;}

.container[id="footer"] {
	border-style: none; margin-left:0.63em;margin-right:0.63em; margin-bottom: 0;
	text-align: center;
	background-image: none;
	background-color: transparent;
}